<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.fileutil.mapper.FileUpLoadMapper">
	<cache></cache>
	<resultMap type="com.dskj.fileutil.entity.FileUploadConfig" id="fileUploadConfig">
		<id property="id" column="id" />
		<result property="key" column="key" />
		<result property="value" column="value" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<select id="getFileUploadConfig" resultMap="fileUploadConfig">
		SELECT * FROM system_config sc WHERE sc.key like "ins_file_%"
	</select>
</mapper>