<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.course.mapper.WorkTimeMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.course.entity.WorkTime" id="workTime">
		<result property="id" column="id" />
		<result property="institutionId" column="institution_id" />
		<result property="workDate" column="work_date" />
		<result property="workStart" column="work_start" />
		<result property="workEnd" column="work_end" />
		<result property="free" column="free" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<insert id="addWorkTimes" parameterType="java.util.ArrayList">
		INSERT INTO institution_work_time
		(institution_id,work_date,work_start,work_end,free,create_time)
		VALUES
		<foreach collection="list" item="workTimes" index="index"
			separator=",">(#{workTimes.institutionId},#{workTimes.workDate},#{workTimes.workStart},#{workTimes.workEnd},#{workTimes.free},#{workTimes.createTime})
		</foreach>
	</insert>
	<select id="getWorkTimes" resultMap="workTime">
		SELECT iwt.* FROM institution_work_time iwt WHERE iwt.institution_id = #{0} AND YEAR(iwt.work_date) = #{1} AND MONTH(iwt.work_date) = #{2} ORDER BY iwt.work_date
	</select>
	<update id="updateWorkTime" parameterType="com.dskj.course.entity.WorkTime">
		UPDATE institution_work_time SET free = #{free},work_start = #{workStart},work_end = #{workEnd} WHERE id = #{id}
	</update>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
</mapper>