<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.spread.mapper.CarouselCollectMapper">
	<cache></cache>
	<resultMap type="com.dskj.spread.entity.CarouselCollect" id="carouselCollect">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="carouselId" column="carousel_id" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<insert id="add" parameterType="com.dskj.spread.entity.CarouselCollect" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO system_carousel_collect
		(user_id,carousel_id,create_time) values
		(#{userId},#{carouselId},#{createTime})
	</insert>
	<delete id="deleteById">
		DELETE FROM
		system_carousel_collect WHERE carousel_id =
		#{0} AND user_id = #{1}
	</delete>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
	<select id="getByCarouselIdAndUserId" resultType="java.lang.Integer">
		SELECT scc.id
		FROM system_carousel_collect scc WHERE scc.carousel_id = #{0} AND
		scc.user_id = #{1}
	</select>
</mapper>