<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.course.mapper.LackMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.course.entity.ClassPlanLackList"
		id="classPlanLackList">
		<result property="classId" column="class_id" />
		<result property="planId" column="plan_id" />
		<result property="planDate" column="plan_date" />
		<result property="planStart" column="plan_start" />
		<result property="planEnd" column="plan_End" />
		<result property="address" column="address" />
		<result property="lackId" column="lack_id" />
		<result property="cancelId" column="cancel_id" />
		<result property="suppleId" column="supple_id" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.Lack"
		id="lack">
		<result property="id" column="id" />
		<result property="classId" column="class_id" />
		<result property="planId" column="class_plan_id" />
		<result property="userId" column="user_id" />
		<result property="reason" column="reason" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<insert id="addLack" parameterType="com.dskj.course.entity.Lack"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		course_classes_plan_lack
		(class_id,class_plan_id,user_id,reason,create_time)
		VALUES
		(#{classId},#{planId},#{userId},#{reason},#{createTime})
	</insert>
	<select id="getClassPlanLackList" resultMap="classPlanLackList">
		SELECT
		ccp.course_classes_id AS class_id,ccp.address AS address,ccp.id AS
		plan_id,ccp.date AS
		plan_date,ccp.start_time AS
		plan_start,ccp.end_time AS
		plan_end,ccpl2.lack_id AS lack_id,(SELECT ccpl.id AS cancel_id FROM
		course_classes_plan_lack ccpl WHERE ccpl.class_plan_id = ccp.id AND
		ccpl.user_id = cc.user_id) AS cancel_id,
		(SELECT ccps.id AS supple_id
		FROM course_classes_plan_supple ccps WHERE ccps.class_plan_id = ccp.id
		AND ccps.user_id = #{0}) AS supple_id
		FROM course_classes cc JOIN
		course_classes_plan ccp ON cc.id = ccp.course_classes_id
		LEFT JOIN
		(SELECT ccpl.id AS
		lack_id,ccpl.class_plan_id AS plan_id FROM
		course_classes_plan_lack
		ccpl WHERE ccpl.user_id = #{0} AND
		ccpl.class_id = #{1}) ccpl2
		ON ccp.id
		= ccpl2.plan_id
		WHERE
		ccp.course_classes_id = #{1} AND
		(DAYOFYEAR(ccp.date) >
		DAYOFYEAR(NOW())
		OR (DAYOFYEAR(ccp.date) =
		DAYOFYEAR(NOW()) AND
		TIME(ccp.start_time) >
		TIME(NOW())))
	</select>
	<delete id="deleteLack" parameterType="int">
		DELETE FROM
		course_classes_plan_lack WHERE id = #{0}
	</delete>
	<delete id="deleteByClass" parameterType="int">
		DELETE FROM
		course_classes_plan_lack WHERE class_id = #{0}
	</delete>
	<delete id="deleteByPlan" parameterType="int">
		DELETE FROM
		course_classes_plan_lack WHERE class_plan_id = #{0}
	</delete>
	<select id="getClassPlanOnlyLackList" resultMap="classPlanLackList">
		SELECT
		ccp.course_classes_id AS class_id,ccp.address AS address,ccp.id AS
		plan_id,ccp.date AS
		plan_date,ccp.start_time AS
		plan_start,ccp.end_time AS
		plan_end,ccpl2.lack_id AS lack_id,(SELECT ccpl.id AS cancel_id FROM
		course_classes_plan_lack ccpl WHERE ccpl.class_plan_id = ccp.id AND
		ccpl.user_id = cc.user_id) AS cancel_id,
		(SELECT ccps.id AS supple_id
		FROM course_classes_plan_supple ccps WHERE ccps.class_plan_id = ccp.id
		AND ccps.user_id = #{0}) AS supple_id
		FROM course_classes cc JOIN
		course_classes_plan ccp ON cc.id = ccp.course_classes_id
		LEFT JOIN
		(SELECT ccpl.id AS
		lack_id,ccpl.class_plan_id AS plan_id FROM
		course_classes_plan_lack
		ccpl WHERE ccpl.user_id = #{0} AND
		ccpl.class_id = #{1}) ccpl2
		ON ccp.id
		= ccpl2.plan_id
		WHERE
		ccp.course_classes_id = #{1} AND
		(DAYOFYEAR(ccp.date) >
		DAYOFYEAR(NOW())
		OR (DAYOFYEAR(ccp.date) =
		DAYOFYEAR(NOW()) AND
		TIME(ccp.start_time) >
		TIME(NOW()))) HAVING lack_id IS NOT NULL AND cancel_id IS NULL AND supple_id IS NULL
	</select>
	<select id="getLackByPlanId" parameterType="int" resultType="int">
		SELECT COUNT(id) FROM course_classes_plan_lack ccpl WHERE
		ccpl.class_plan_id = #{0}
	</select>
	<select id="getById" parameterType="int" resultMap="lack">
		SELECT * FROM course_classes_plan_lack WHERE id = #{0}
	</select>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
</mapper>