<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dskj.activity.mapper.ChildActivityReservationMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap id="BaseResultMap"
		type="com.dskj.activity.entity.ChildActivityReservation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
		<result column="child_activity_id" property="childActivityId"
			jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="reserve_count" property="reserveCount"
			jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="cancel_code" property="cancelCode" jdbcType="INTEGER" />
		<result column="cancel_remark" property="cancelRemark"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="cancelReason" type="com.dskj.activity.entity.CancelReason">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="userActivitySign" type="com.dskj.activity.entity.UserActivitySign">
		<result column="user_id" property="userId"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_photo" property="userPhoto"/>
		<result column="user_name" property="userName"/>
		<result column="user_sex" property="userSex"/>
		<result column="reserve_count" property="reserveCount"/>
		<result column="activity_id" property="activityId"/>
		<result column="activity_name" property="activityName"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, order_number, child_activity_id, user_id, realname, phone,
		reserve_count, price, state, cancel_code , cancel_remark ,create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from child_activity_reservation
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectListBySelective" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from child_activity_reservation
		where state = 1
		<if test="record.childActivityId != null">
			and child_activity_id = #{record.childActivityId}
		</if>
		<if test="record.userId != null">
			and user_id = #{record.userId}
		</if>
		limit #{page.pageNo},#{page.pageSize}
	</select>

	<select id="selectListBySelectiveNoPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from child_activity_reservation
		where state = 1
		<if test="record.childActivityId != null">
			and child_activity_id = #{record.childActivityId}
		</if>
		<if test="record.userId != null">
			and user_id = #{record.userId}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from child_activity_reservation
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="delete" parameterType="java.util.ArrayList">
		update child_activity_reservation set state = 0 where
		id in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">#{ids}
		</foreach>
	</delete>
	<insert id="insert" parameterType="com.dskj.activity.entity.ChildActivityReservation">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into child_activity_reservation (id,
		order_number,child_activity_id, user_id,
		realname, phone, reserve_count,
		price, state,cancel_code, cancel_remark, create_time
		)
		values (#{id,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR},
		#{childActivityId,jdbcType=INTEGER},
		#{userId,jdbcType=VARCHAR},
		#{realname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{reserveCount,jdbcType=INTEGER},
		#{price,jdbcType=DECIMAL}, #{state,jdbcType=INTEGER},
		#{cancelCode,jdbcType=INTEGER},#{cancelRemark,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.dskj.activity.entity.ChildActivityReservation">
		insert into child_activity_reservation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderNumber != null">
				order_number,
			</if>
			<if test="childActivityId != null">
				child_activity_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="reserveCount != null">
				reserve_count,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="cancelCode != null">
				cancel_code,
			</if>
			<if test="cancelRemark != null">
				cancel_remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderNumber != null">
				#{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="childActivityId != null">
				#{childActivityId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="reserveCount != null">
				#{reserveCount,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="cancelCode != null">
				#{cancelCode,jdbcType=INTEGER},
			</if>
			<if test="cancelRemark != null">
				#{cancelRemark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dskj.activity.entity.ChildActivityReservation">
		update child_activity_reservation
		<set>
			<if test="childActivityId != null">
				child_activity_id = #{childActivityId,jdbcType=INTEGER},
			</if>
			<if test="orderNumber != null">
				order_number = #{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="reserveCount != null">
				reserve_count = #{reserveCount,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="cancelCode != null">
				cancel_code = #{cancelCode,jdbcType=INTEGER},
			</if>
			<if test="cancelRemark != null">
				cancel_remark = #{cancelRemark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dskj.activity.entity.ChildActivityReservation">
		update child_activity_reservation
		set order_number = #{orderNumber,jdbcType=VARCHAR},
		child_activity_id = #{childActivityId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=VARCHAR},
		realname = #{realname,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		reserve_count = #{reserveCount,jdbcType=INTEGER},
		price = #{price,jdbcType=DECIMAL},
		state = #{state,jdbcType=INTEGER},
		cancel_code = #{cancelCode,jdbcType=INTEGER},
		cancel_remark = #{cancelRemark,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="isReserveChildActivity" resultType="java.lang.Integer">
		SELECT count(*) FROM child_activity_reservation WHERE
		child_activity_id = #{childActivityId}
		AND user_id=#{userId} AND state=1;
	</select>
	<select id="getCancelCensus" resultMap="cancelReason">
		SELECT (SELECT COUNT(*) FROM child_activity_reservation car WHERE car.cancel_code = cr.id) AS state,cr.* FROM cancel_reason cr
	</select>
	<select id="getActivityUserSign" resultMap="userActivitySign">
		select u.id as user_id,u.phone as user_phone,u.photo as user_photo,u.name as user_name,u.sex as user_sex,
		car.reserve_count as reserve_count,ca.id as activity_id,ca.name as activity_name,car.create_time
		from child_activity_reservation car JOIN `user` u on car.user_id = u.id JOIN child_activity ca on car.child_activity_id = ca.id
		WHERE car.state = 1
		<if test="activityId != null">
			and car.child_activity_id = #{activityId}
		</if>
		ORDER BY car.create_time DESC
		limit #{page.pageNo},#{page.pageSize}
	</select>
	<select id="getActivityUserSignCount" resultType="int">
		select count(*)
		from child_activity_reservation car JOIN child_activity ca on car.child_activity_id = ca.id
		WHERE car.state = 1
		<if test="activityId != null">
			and car.child_activity_id = #{activityId}
		</if>
	</select>
</mapper>