<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.census.mapper.SignCensusMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.census.entity.SignCensusUserSignList"
		id="signCensusUserSignList">
		<result property="userId" column="user_id" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="photo" column="photo" />
		<result property="planSignCount" column="plan_sign_count" />
		<result property="planCount" column="plan_count" />
		<result property="lackCount" column="lack_count" />
	</resultMap>
	<resultMap type="com.dskj.census.entity.SignCensusUserSignDetail"
		id="signCensusUserSignDetail">
		<result property="courseName" column="course_name" />
		<result property="cover" column="cover" />
		<result property="className" column="class_name" />
		<result property="userName" column="user_name" />
		<result property="phone" column="phone" />
		<result property="photo" column="photo" />
		<result property="planDate" column="plan_date" />
		<result property="planStart" column="plan_start" />
		<result property="planEnd" column="plan_end" />
		<result property="address" column="address" />
		<result property="planSignId" column="plan_sign_id" />
		<result property="lackId" column="lack_id" />
	</resultMap>
	<!-- 加上补课的数据 -->
	<select id="getSignCensusUserSignList" resultMap="signCensusUserSignList">
		SELECT u.id AS
		user_id,u.name AS NAME,u.phone AS phone,u.photo AS photo,
		teacher.plan_sign_count AS plan_sign_count,
		(SELECT COUNT(ccp.id) FROM
		course_classes cc JOIN
		course_classes_plan ccp ON cc.id =
		ccp.course_classes_id WHERE
		cc.user_id = u.id AND
		cc.institution_id =
		#{institutionId} AND
		ccp.date &gt;= #{startTime} AND
		ccp.date &lt;=
		#{endTime}) AS
		plan_count,
		(SELECT COUNT(ccpl.id) FROM
		course_classes_plan_lack ccpl JOIN
		course_classes_plan ccp ON
		ccpl.class_plan_id = ccp.id JOIN
		course_classes cc ON ccpl.class_id =
		cc.id
		WHERE cc.institution_id = #{institutionId} AND
		ccpl.user_id = u.id
		AND
		ccp.date &gt;= #{startTime} AND
		ccp.date &lt;= #{endTime}) AS
		lack_count
		FROM user u JOIN
		institution_user iu ON u.id = iu.user_id
		LEFT JOIN
		(SELECT cc.user_id AS user_id,COUNT(*) AS plan_sign_count
		FROM
		course_classes cc JOIN
		course_classes_plan ccp ON
		cc.id =
		ccp.course_classes_id JOIN
		course_classes_plan_sign ccps ON
		ccps.class_plan_id = ccp.id JOIN
		user u ON ccps.user_id = u.id WHERE
		u.type = 3 AND
		cc.institution_id = #{institutionId} AND
		ccp.date &gt;=
		#{startTime} AND
		ccp.date &lt;= #{endTime} GROUP BY cc.user_id) teacher
		ON u.id =
		teacher.user_id
		WHERE
		u.type = 2 AND
		iu.institution_id =
		#{institutionId}
		LIMIT
		#{page.pageNo},#{page.pageSize}
	</select>
	<select id="getSignCensusUserSignDetail" resultMap="signCensusUserSignDetail">
		SELECT
		c.name
		AS course_name,c.cover AS cover,
		cc.name AS class_name,u.name AS
		user_name,u.phone AS phone,u.photo AS photo,
		ccp.date AS
		plan_date,ccp.start_time AS plan_start,ccp.end_time AS
		plan_end,ccp.address AS address,
		ccps2.plan_sign_count AS plan_sign_id,
		ccpl2.id AS
		lack_id
		FROM course c JOIN course_classes cc ON c.id =
		cc.course_id
		JOIN course_classes_plan ccp ON cc.id =
		ccp.course_classes_id
		JOIN user
		u ON
		cc.user_id = u.id
		LEFT JOIN (SELECT
		ccp.id,COUNT(*) AS plan_sign_count FROM
		course_classes cc JOIN
		course_classes_plan ccp ON
		cc.id = ccp.course_classes_id JOIN
		course_classes_plan_sign ccps ON
		ccps.class_plan_id = ccp.id JOIN
		user u ON ccps.user_id = u.id WHERE
		u.type = 3 AND
		cc.institution_id = #{institutionId} AND
		cc.user_id = #{userId} AND
		ccp.date &gt;= #{startTime} AND
		ccp.date &lt;= #{endTime} GROUP BY ccp.id) ccps2 ON ccp.id =
		ccps2.id
		LEFT JOIN
		(SELECT * FROM course_classes_plan_lack
		ccpl WHERE ccpl.user_id
		=
		#{userId}) ccpl2 ON ccp.id =
		ccpl2.class_plan_id
		WHERE cc.institution_id
		= #{institutionId} AND
		cc.user_id = #{userId} AND
		ccp.date &gt;=
		#{startTime} AND ccp.date
		&lt;= #{endTime}
		ORDER BY plan_date DESC
		LIMIT
		#{page.pageNo},#{page.pageSize}
	</select>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
</mapper>