<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.census.mapper.TimingCensusMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.census.entity.TimingCensusUserSignList"
		id="timingCensusUserSignList">
		<result property="userId" column="user_id" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="photo" column="photo" />
		<result property="signCount" column="sign_count" />
	</resultMap>
	<resultMap type="com.dskj.census.entity.TimingCensusUserSignDetail"
		id="timingCensusUserSignDetail">
		<result property="createTime" column="create_time" />
		<result property="address" column="address" />
	</resultMap>
	<select id="getTimingCensusUserSignList" resultMap="timingCensusUserSignList">
		SELECT u.id
		AS user_id,u.name AS `name`,u.phone AS phone,u.photo AS photo,
		(SELECT
		COUNT(*) FROM course_classes_plan_sign ccps WHERE ccps.user_id = u.id
		AND DAYOFYEAR(ccps.create_time) = DAYOFYEAR(#{date}) AND
		ccps.institution_id = #{institutionId}) AS sign_count
		FROM
		institution_user iu JOIN `user` u ON iu.user_id = u.id WHERE
		u.type =
		2
		AND iu.institution_id = #{institutionId} LIMIT
		#{page.pageNo},#{page.pageSize}
	</select>
	<select id="getTimingCensusUserSignDetail" resultMap="timingCensusUserSignDetail">
		SELECT
		ccps.address AS address,ccps.create_time AS create_time FROM
		course_classes_plan_sign ccps WHERE ccps.user_id = #{userId} AND
		ccps.institution_id = #{institutionId} AND
		ccps.create_time >
		#{startTime} AND ccps.create_time &lt; #{endTime}
		LIMIT
		#{page.pageNo},#{page.pageSize}
	</select>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
</mapper>