<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.community.mapper.CircleMapper">
    <cache></cache>
    <resultMap type="com.dskj.community.entity.Circle" id="circle">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="imgUrl" column="img_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <insert id="add" parameterType="com.dskj.community.entity.Circle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO community_circle (`name`,img_url,create_time) VALUES (#{name},#{imgUrl},#{createTime})
    </insert>
    <update id="update" parameterType="com.dskj.community.entity.Circle">
        UPDATE community_circle SET `name` = #{name} ,ima_url = #{imgUrl} WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM community_circle WHERE id = #{0}
    </delete>
    <select id="getList" resultMap="circle">
        SELECT * FROM community_circle
    </select>
    <select id="clear" resultType="int" flushCache="true">
        SELECT 1
    </select>
    <select id="getUserCircles" parameterType="java.lang.String" resultType="java.lang.Integer" useCache="false">
        SELECT uc.circle_id FROM user_circle uc WHERE uc.user_id = #{0}
    </select>
</mapper>