<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.community.mapper.InformationMapper">
    <cache></cache>
    <resultMap type="com.dskj.community.entity.Information" id="informationList">
    	<result property="id" column="id"/>
    	<result property="title" column="title"/>
    	<result property="summary" column="summary"/>
    	<result property="context" column="context"/>
    	<result property="createTime" column="create_time"/>
    	<result property="loveCount" column="love_count"/>
    	<result property="collectCount" column="collect_count"/>
    	<result property="commentCount" column="comment_count"/>
    	<collection property="imgUrls" ofType="java.util.ArrayList"
			select="getInfoImgUrls" column="{infoId = id}">
		</collection>
    </resultMap>
    <select id="getInfoImgUrls" parameterType="java.util.HashMap"
		resultType="java.lang.String">
		SELECT cii.url FROM community_info_img cii WHERE
		cii.info_id = #{infoId}
	</select>
    <select id="clear" resultType="int" flushCache="true">
        SELECT 1
    </select>
    <insert id="add" parameterType="com.dskj.community.entity.Information" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO community_info (user_id,title,summary,context,create_time) VALUES (#{userId},#{title},#{summary},#{context},#{createTime})
    </insert>
    <delete id="delete" parameterType="int">
    	DELETE FROM community_info WHERE id = #{0}
    </delete>
    <select id="getList" resultMap="informationList">
    	SELECT ci.id AS id,ci.title AS title,ci.summary AS summary,null AS context,ci.create_time AS create_time,
		(SELECT COUNT(*) FROM community_info_love cil WHERE cil.info_id = ci.id) AS love_count,
		(SELECT COUNT(*) FROM community_info_collect cil WHERE cil.info_id = ci.id) AS collect_count,
		(SELECT COUNT(*) FROM community_info_comment cic WHERE cic.info_id = ci.id) AS comment_count,
		(SELECT cil.id FROM community_info_love cil WHERE cil.info_id = ci.id AND cil.user_id = #{userId} limit 1) AS love_id,
		(SELECT cil.id FROM community_info_collect cil WHERE cil.info_id = ci.id AND cil.user_id = #{userId} limit 1) AS collect_id
		FROM community_info ci ORDER BY ci.create_time DESC LIMIT #{page.pageNo},#{page.pageSize}
    </select>
	<select id="get" resultMap="informationList">
		SELECT ci.id AS id,ci.title AS title,ci.summary AS summary,ci.context AS context,ci.create_time AS create_time,
		(SELECT COUNT(*) FROM community_info_love cil WHERE cil.info_id = ci.id) AS love_count,
		(SELECT COUNT(*) FROM community_info_collect cil WHERE cil.info_id = ci.id) AS collect_count,
		(SELECT COUNT(*) FROM community_info_comment cic WHERE cic.info_id = ci.id) AS comment_count,
		(SELECT cil.id FROM community_info_love cil WHERE cil.info_id = ci.id AND cil.user_id = #{userId}) AS love_id,
		(SELECT cil.id FROM community_info_collect cil WHERE cil.info_id = ci.id AND cil.user_id = #{userId}) AS collect_id
		FROM community_info ci WHERE ci.id = #{id}
	</select>
	<insert id="addInformationCollect">
		INSERT INTO community_info_collect (info_id,user_id,create_time)
		VALUES (#{0},#{1},NOW())
	</insert>
	<insert id="addInformationComment">
		INSERT INTO community_info_comment (info_id,comment_id,create_time)
		VALUES (#{0},#{1},NOW())
	</insert>
	<delete id="deleteInformationComment">
		DELETE FROM community_info_comment WHERE info_id = #{0} AND comment_id = #{1}
	</delete>
	<select id="getInformationCommentIds" resultType="java.lang.Integer">
		SELECT cic.comment_id FROM community_info_comment cic WHERE cic.info_id = #{infoId} ORDER BY cic.create_time DESC LIMIT #{page.pageNo},#{page.pageSize}
	</select>
	<select id="getInformationCount" resultType="int">
		SELECT COUNT(*) FROM community_info
	</select>
	<update id="update">
		UPDATE community_info SET context = #{context},title = #{title},summary = #{summary} WHERE id = #{id}
	</update>
</mapper>