<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.community.mapper.PostCollectMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.user.entity2_0.MyCollect" id="myCollect">
		<result property="collectId" column="collect_id" />
		<result property="type" column="type" />
		<result property="createTime" column="create_time" />
		<result property="context" column="context" />
		<result property="userName" column="user_name" />
		<result property="postId" column="post_id" />
		<collection property="imgUrls" ofType="java.util.ArrayList"
			select="getPostImgUrls" column="{postId = post_id}">
		</collection>
	</resultMap>
	<insert id="add" parameterType="com.dskj.community.entity.PostCollect"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO community_post_collect
		(user_id,post_id,create_time) VALUES
		(#{userId},#{postId},#{createTime})
	</insert>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
	<delete id="delete" parameterType="int">
		DELETE FROM
		community_post_collect WHERE id = #{0}
	</delete>
	<select id="getCollectCount" resultType="int" parameterType="int">
		SELECT count(*) from community_post_collect where post_id=#{0}
	</select>
	<select id="getPostImgUrls" parameterType="java.util.HashMap"
		resultType="java.lang.String">
		SELECT cpi.url FROM community_post_img cpi WHERE
		cpi.post_id = #{postId}
	</select>
	<select id="getUserCollectList2_0" parameterType="java.lang.String"
		resultMap="myCollect">
		SELECT cpc.id AS collect_id,3 AS `type`,cpc.create_time AS
		create_time,cp.context AS context,
		u.name AS user_name,cp.id AS post_id
		FROM community_post_collect cpc JOIN community_post cp ON cpc.post_id =
		cp.id
		JOIN `user` u ON cp.user_id = u.id
		WHERE cpc.user_id = #{0}
	</select>
</mapper>