<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.user.mapper.CollectMapper">
    <cache></cache>
    <resultMap type="com.dskj.user.entity.Collect" id="collect">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="institutionId" column="institution_id"/>
        <result property="courseId" column="course_id"/>
        <result property="classId" column="class_id"/>
        <result property="beenUserId" column="been_user_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <resultMap type="com.dskj.user.entity.CollectInstitution" id="collectInstitution">
        <result property="id" column="collect_id"/>
        <result property="institutionId" column="institution_id"/>
        <result property="institutionName" column="institution_name"/>
        <result property="address" column="address"/>
        <result property="logo" column="logo"/>
        <result property="firstRegin" column="first_regin"/>
        <result property="secondRegin" column="second_regin"/>
    </resultMap>
    <resultMap type="com.dskj.user.entity.InstitutionEntity" id="institutionEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="summary" column="summary"/>
        <result property="address" column="address"/>
        <result property="logo" column="logo"/>
        <result property="face" column="face"/>
        <result property="tel" column="tel"/>
        <result property="parentId" column="parent_id"/>
        <result property="regionId" column="region_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <insert id="add" parameterType="com.dskj.user.entity.Collect"
            useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_collect
		(user_id,institution_id,course_id,class_id,been_user_id,create_time) VALUES
		(#{userId},#{institutionId},#{courseId},#{classId},#{beenUserId},#{createTime})
	</insert>
    <select id="list" resultMap="collectInstitution">
        SELECT uc.id AS collect_id,i.id AS institution_id,i.name AS
        institution_name,i.address AS address,i.logo AS logo,rr.name AS
        first_regin,r.name AS second_regin
        FROM user_collect uc JOIN
        institution i ON uc.institution_id = i.id LEFT
        JOIN region r ON
        i.region_id = r.id LEFT JOIN region rr ON r.parent_id
        = rr.id
        WHERE
        uc.user_id = #{userId}
        <if test="columnKey!=null">
            AND uc.${columnKey} IS NOT NULL
        </if>
        ORDER BY uc.create_time DESC
        LIMIT #{page.pageNo},#{page.pageSize}
    </select>
    <delete id="delete" parameterType="int">
        DELETE FROM user_collect WHERE
        id = #{0}
    </delete>
    <select id="getCollectInstitutionSearch" resultMap="institutionEntity">
        SELECT * FROM
        institution i WHERE i.id NOT IN (SELECT uc.institution_id FROM
        user_collect uc WHERE uc.user_id = #{userId}) AND i.name LIKE
        '%${key}%'
        LIMIT #{page.pageNo},#{page.pageSize}
    </select>
    <select id="getCollectCount" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(*) FROM user_collect WHERE institution_id = #{0}
	</select>
    <select id="getId" resultType="java.lang.Integer">
        SELECT uc.id FROM user_collect uc WHERE uc.institution_id = #{0} AND uc.user_id = #{1}
    </select>
    <select id="getUserCollectCount" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(*) FROM user_collect uc WHERE uc.been_user_id = #{0}
    </select>
    <select id="getUserCollectId" resultType="java.lang.Integer">
        SELECT uc.id FROM user_collect uc WHERE uc.user_id = #{0} AND uc.been_user_id = #{1}
    </select>
    <select id="getClassCollectId" resultType="java.lang.Integer">
    	SELECT uc.id FROM user_collect uc WHERE uc.user_id = #{1} AND uc.class_id = #{0}
    </select>
</mapper>