<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.user.mapper.UserAskMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    </cache>
    <resultMap type="com.dskj.user.entity.UserEntity" id="userEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="levelId" column="level_id"/>
        <result property="type" column="type"/>
        <result property="phone" column="phone"/>
        <result property="photo" column="photo"/>
        <result property="qqOpenId" column="qq_open_id"/>
        <result property="weixinOpenId" column="weixin_open_id"/>
        <result property="sinaOpenId" column="sina_open_id"/>
        <result property="address" column="address"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="regionId" column="region_id"/>
        <result property="createTime" column="create_time"/>
        <result property="realName" column="real_name"/>
        <result property="interest" column="interest"/>
        <result property="shortIntroduction" column="short_introduction"/>
    </resultMap>
    <select id="clear" resultType="int" flushCache="true">
        SELECT 1
    </select>
    <insert id="add" parameterType="com.dskj.user.entity2_0.UserAsk" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_ask (institution_id,user_id,create_time) VALUES (#{institutionId},#{userId},#{createTime})
    </insert>
    <select id="getUserAskList2_0" resultMap="userEntity">
        SELECT DISTINCT u.* FROM user_ask ua JOIN `user` u ON ua.user_id = u.id WHERE ua.institution_id = #{institutionId} ORDER BY ua.create_time DESC LIMIT #{page.pageNo},#{page.pageSize}
    </select>
</mapper>