<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.user.mapper.UserPhotoMapper">
    <cache></cache>
    <resultMap id="userPhoto" type="com.dskj.user.entity2_0.UserPhoto">
        <result property="id" column="id"></result>
        <result property="userId" column="user_id"></result>
        <result property="url" column="url"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>
    <insert id="add" parameterType="java.util.ArrayList">
        INSERT INTO user_photo (user_id,url,create_time)
        VALUES
        <foreach collection="photos" item="photo" index="index"
                 separator=",">(#{photo.userId},#{photo.url},#{photo.createTime})
        </foreach>
    </insert>
    <delete id="delete">
        DELETE FROM user_photo WHERE
        id IN
        <foreach collection="list" item="id" index="index" open="("
                 separator="," close=")">#{id}
        </foreach>
    </delete>
    <select id="list" parameterType="java.lang.String" resultMap="userPhoto">
        SELECT * FROM user_photo up WHERE up.user_id = #{0}
    </select>
</mapper>