<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.community.mapper.PostVoideMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    </cache>
    
    <resultMap type="com.dskj.community.entity.PostVoide" id="postVoide">
		<id property="id" column="id"/>
		<result property="postId" column="post_id"/>
		<result property="url" column="url"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
    
     
  <!--   <select id="getList" resultMap="postVoide">
        SELECT * FROM community_post_voide
    </select> -->
    <insert id="add" parameterType="java.util.ArrayList">
        INSERT INTO community_post_voide (post_id,url,create_time)
        VALUES
        <foreach collection="postVoides" item="postVoide" index="index"
                 separator=",">(#{postVoide.postId},#{postVoide.url},#{postVoide.createTime})
        </foreach>
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM community_post_voide WHERE post_id = #{0}
    </delete>
    
    <select id="getPostVoide" resultMap="postVoide">
		SELECT * FROM community_post_voide where post_id = #{postId}
	</select>
    
</mapper>