<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.course.mapper.GatherMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.course.entity.UserGatherCourseClassPlan"
		id="userGatherCourseClassPlan">
		<result property="institutionId" column="institution_id" />
		<result property="institutionName" column="institution_name" />
		<result property="courseId" column="course_id" />
		<result property="courseName" column="course_name" />
		<result property="courseCover" column="course_cover" />
		<result property="classId" column="class_id" />
		<result property="className" column="class_name" />
		<result property="userName" column="user_name" />
		<result property="date" column="date" />
		<result property="times" column="times" />
		<result property="userCount" column="user_count" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.ManageCourseClassCount"
		id="manageCourseClassCount">
		<result property="courseTypeId" column="course_type_id" />
		<result property="courseTypeCover" column="course_type_cover" />
		<result property="institutionId" column="institution_id" />
		<result property="courseTypeName" column="course_type_name" />
		<result property="courseCount" column="course_count" />
		<result property="classCount" column="class_count" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.ManageClassUserCountDate"
		id="manageClassUserCountDate">
		<result property="institutionId" column="institution_id" />
		<result property="classId" column="class_id" />
		<result property="className" column="class_name" />
		<result property="userId" column="user_id" />
		<result property="phone" column="phone" />
		<result property="userName" column="user_name" />
		<result property="planCount" column="plan_count" />
		<result property="date" column="date" />
	</resultMap>
	<select id="getGatherCourseClassPlans" parameterType="java.lang.String"
		resultMap="userGatherCourseClassPlan">
		(SELECT i.id AS
		institution_id,i.name AS
		institution_name,c.id
		AS course_id,c.name AS
		course_name,c.cover AS
		course_cover,cc.id AS
		class_id,cc.name AS
		class_name,u.name AS
		user_name,
		(SELECT
		MIN(ccp.date) FROM
		course_classes_plan ccp WHERE
		ccp.course_classes_id =
		cc.id) AS date,
		(SELECT COUNT(ccp.id) FROM
		course_classes_plan ccp WHERE
		ccp.course_classes_id = cc.id) AS times
		FROM institution i JOIN course
		c ON i.id = c.institution_id JOIN
		course_classes cc ON c.id =
		cc.course_id JOIN institution_user iu ON
		cc.institution_id =
		iu.institution_id JOIN user u ON cc.user_id = u.id
		WHERE iu.current = 1
		AND iu.user_id = #{0} AND cc.id IN
		(SELECT
		ccs.classes_id AS class_id
		FROM
		course_classes_sign ccs WHERE
		ccs.user_id = #{0}))
		UNION
		(SELECT i.id AS
		institution_id,i.name AS
		institution_name,c.id
		AS course_id,c.name AS
		course_name,c.cover AS
		course_cover,cc.id AS
		class_id,cc.name AS
		class_name,u.name AS
		user_name,
		(SELECT
		MIN(ccp.date) FROM
		course_classes_plan ccp JOIN course_classes_plan_supple ccps ON ccp.id = ccps.supple_class_plan_id WHERE
		ccps.user_id = #{0} AND
		ccps.supple_class_id = cc.id) AS date,
		(SELECT COUNT(ccps.id) FROM
		course_classes_plan_supple ccps WHERE
		ccps.user_id = #{0} AND
		ccps.supple_class_id = cc.id) AS times
		FROM institution i JOIN course
		c ON i.id = c.institution_id JOIN
		course_classes cc ON c.id =
		cc.course_id JOIN institution_user iu ON cc.institution_id =
		iu.institution_id JOIN user u ON cc.user_id = u.id
		WHERE iu.current = 1
		AND iu.user_id = #{0} AND cc.id IN
		(SELECT
		ccps.supple_class_id AS
		class_id FROM
		course_classes_plan_supple ccps
		WHERE ccps.user_id =
		#{0}))
		ORDER BY date
	</select>
	<select id="getTeacherGatherCourseClassPlans" parameterType="java.lang.String"
		resultMap="userGatherCourseClassPlan">
		SELECT i.id AS
		institution_id,i.name AS institution_name,c.id
		AS
		course_id,c.name AS
		course_name,c.cover AS course_cover,cc.id AS
		class_id,cc.name AS
		class_name,
		(SELECT
		MIN(ccp.date) FROM
		course_classes_plan ccp WHERE
		ccp.course_classes_id =
		cc.id) AS
		date,
		(SELECT
		COUNT(ccp.id) FROM
		course_classes_plan ccp WHERE
		ccp.course_classes_id =
		cc.id) AS
		times,
		(SELECT COUNT(ccs.id) FROM
		course_classes_sign ccs WHERE
		ccs.classes_id
		= cc.id) AS user_count
		FROM
		institution i JOIN course c ON i.id =
		c.institution_id JOIN
		course_classes
		cc ON c.id = cc.course_id JOIN institution_user iu ON
		i.id = iu.institution_id WHERE
		cc.user_id = #{0} AND iu.user_id = #{0}
		AND iu.current = 1 ORDER
		BY date
	</select>
	<select id="getManageCourseClassCount" parameterType="java.lang.String"
		resultMap="manageCourseClassCount">
		SELECT #{0} AS institution_id,ct.id AS
		course_type_id,ct.name AS
		course_type_name,ct.cover AS
		course_type_cover,
		(SELECT COUNT(ce.id) FROM course ce WHERE
		ce.institution_id = #{0} AND ce.course_type_id = ct.id) AS
		course_count,
		(SELECT COUNT(cc.id) FROM course_classes cc JOIN course
		cse ON cc.course_id = cse.id WHERE cse.course_type_id = ct.id AND
		cc.institution_id = #{0} AND ((SELECT COUNT(*) FROM
		course_classes_plan ccp
		WHERE ccp.course_classes_id = cc.id) = 0 OR
		(SELECT MAX(ccp.date) FROM
		course_classes_plan ccp WHERE
		ccp.course_classes_id = cc.id) >=
		DATE(NOW()))) AS class_count
		FROM
		course_type ct
	</select>
	<select id="getManageClassUserCountDate" parameterType="int"
		resultMap="manageClassUserCountDate">
		SELECT
		cc.institution_id AS institution_id, cc.id AS
		class_id,cc.name AS
		class_name,u.id AS user_id,u.phone AS phone,u.name
		AS user_name,
		(SELECT COUNT(ccpn.id)
		FROM course_classes_plan ccpn WHERE
		ccpn.course_classes_id = cc.id) AS
		plan_count,
		(SELECT MIN(ccpn.date)
		FROM
		course_classes_plan ccpn WHERE
		ccpn.course_classes_id = cc.id) AS
		date
		FROM
		course_classes cc JOIN user u ON
		cc.user_id = u.id WHERE
		cc.course_id
		= #{0} AND ((SELECT COUNT(*) FROM course_classes_plan ccp
		WHERE ccp.course_classes_id = cc.id) = 0 OR (SELECT MAX(ccp.date) FROM
		course_classes_plan ccp WHERE
		ccp.course_classes_id = cc.id) >=
		DATE(NOW())) ORDER BY date DESC
	</select>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
</mapper>