<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.course.mapper.PlanSignMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.course.entity.PlanSign" id="planSign">
		<result property="id" column="id" />
		<result property="classId" column="class_id" />
		<result property="classPlanId" column="class_plan_id" />
		<result property="userId" column="user_id" />
		<result property="address" column="address" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.UserPlanListByDay"
		id="userPlanListByDay">
		<result property="classId" column="class_id" />
		<result property="className" column="class_name" />
		<result property="userName" column="user_name" />
		<result property="phone" column="phone" />
		<result property="planDate" column="plan_date" />
		<result property="planStart" column="plan_start" />
		<result property="planEnd" column="plan_end" />
		<result property="address" column="address" />
		<result property="planSignId" column="plan_sign_id" />
		<result property="lackId" column="lack_id" />
		<result property="cancelId" column="cancel_id" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.TeacherUserPlanSignByDay"
		id="teacherUserPlanSignByDay">
		<id property="planId" column="id" />
		<result property="classId" column="course_classes_id" />
		<result property="planDate" column="date" />
		<result property="planStart" column="start_time" />
		<result property="planEnd" column="end_time" />
		<result property="address" column="address" />
		<result property="signCount" column="sign_count" />
		<result property="userCount" column="user_count" />
		<result property="lackId" column="lack_id" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.TeacherUserListByPlan"
		id="teacherUserListByPlan">
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userPhone" column="user_phone" />
		<result property="userPhoto" column="user_photo" />
		<result property="planSignId" column="sign_id" />
		<result property="classId" column="class_id" />
		<result property="lackId" column="lack_id" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.ManageUserPlanSignByDay"
		id="manageUserPlanSignByDay">
		<result property="courseId" column="course_id" />
		<result property="courseName" column="course_name" />
		<result property="cover" column="cover" />
		<result property="classId" column="class_id" />
		<result property="className" column="class_name" />
		<result property="planId" column="plan_id" />
		<result property="planDate" column="plan_date" />
		<result property="planStart" column="plan_start" />
		<result property="planEnd" column="plan_end" />
		<result property="planAddress" column="plan_address" />
		<result property="userName" column="user_name" />
		<result property="planSignCount" column="plan_sign_count" />
		<result property="userCount" column="user_count" />
		<result property="lackId" column="lack_id" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.ManageUserListByPlan"
		id="manageUserListByPlan">
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userPhone" column="user_phone" />
		<result property="userPhoto" column="user_photo" />
		<result property="planSignId" column="plan_sign_id" />
		<result property="lackId" column="lack_id" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.PlanListByDay" id="planListByDay">
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="courseName" column="course_name" />
		<result property="cover" column="cover" />
		<result property="classId" column="class_id" />
		<result property="planId" column="plan_id" />
		<result property="planDate" column="plan_date" />
		<result property="planStart" column="plan_start" />
		<result property="planEnd" column="plan_end" />
		<result property="planSignId" column="plan_sign_id" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.ManageUserCourseClassSignPlan"
		id="manageUserCourseClassSignPlan">
		<result property="courseId" column="course_id" />
		<result property="courseName" column="course_name" />
		<result property="cover" column="cover" />
		<result property="classId" column="class_id" />
		<result property="className" column="class_name" />
		<result property="userName" column="user_name" />
		<result property="planSignCount" column="plan_sign_count" />
		<result property="planCount" column="plan_count" />
	</resultMap>
	<resultMap type="com.dskj.course.entity2_0.TeacherClassPlan"
		id="teacherClassPlan">
		<result property="classId" column="class_id" />
		<result property="cover" column="cover" />
		<result property="institutionName" column="institution_name" />
		<result property="className" column="class_name" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="address" column="address" />
		<result property="studentCount" column="student_count" />
		<result property="signCount" column="sign_count" />
	</resultMap>
	<resultMap type="com.dskj.course.entity.ClassSignUser" id="classSignUser">
		<id property="userId" column="id" />
		<result property="photo" column="photo" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
	</resultMap>
	<resultMap type="com.dskj.course.entity2_0.TeacherSign" id="teacherSign">
		<result property="institutionId" column="institution_id" />
		<result property="institutionName" column="institution_name" />
		<result property="logo" column="logo" />
		<result property="address" column="address" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<select id="getPlanListByDay" resultMap="planListByDay">
		(SELECT u.id AS
		user_id,u.name AS user_name,c.name AS course_name,c.cover AS
		cover,cc.id AS class_id,ccp.id AS
		plan_id,ccp.date AS
		plan_date,ccp.start_time AS
		plan_start,ccp.end_time AS
		plan_end,ccps2.sign_id AS plan_sign_id
		FROM
		course_classes_sign ccs JOIN
		course_classes cc ON ccs.classes_id =
		cc.id JOIN course c ON
		cc.course_id = c.id
		JOIN course_classes_plan ccp ON cc.id =
		ccp.course_classes_id
		JOIN institution_user iu ON iu.institution_id =
		cc.institution_id
		LEFT JOIN user u ON cc.user_id = u.id
		LEFT JOIN
		(SELECT ccps.id AS
		sign_id,ccps.class_plan_id AS plan_id FROM
		course_classes_plan_sign
		ccps WHERE ccps.user_id = #{0}) ccps2
		ON ccp.id
		= ccps2.plan_id
		WHERE
		ccs.user_id = #{0} AND iu.current = 1 AND
		iu.user_id = #{0}
		AND
		cc.user_id NOT IN (SELECT
		ccplt.user_id FROM
		course_classes_plan_lack
		ccplt WHERE
		ccplt.class_plan_id = ccp.id)
		AND
		ccp.id NOT IN (SELECT
		ccpls.class_plan_id FROM
		course_classes_plan_lack
		ccpls WHERE
		ccpls.user_id = #{0} AND
		ccpls.class_plan_id = ccp.id)
		AND
		DAYOFYEAR(ccp.date) =
		DAYOFYEAR(#{1}))
		UNION
		(SELECT u.id AS
		user_id,u.name AS user_name,c.name AS course_name,c.cover AS
		cover,cc.id
		AS class_id,ccp.id AS
		plan_id,ccp.date AS
		plan_date,ccp.start_time AS
		plan_start,ccp.end_time AS
		plan_end,ccps2.sign_id AS plan_sign_id
		FROM
		course_classes_plan_supple
		ccpse JOIN course_classes_plan ccp
		ON
		ccpse.supple_class_plan_id =
		ccp.id JOIN course_classes cc
		ON
		ccp.course_classes_id = cc.id JOIN
		institution_user iu ON iu.institution_id = cc.institution_id JOIN
		course c ON cc.course_id = c.id JOIN user u
		ON cc.user_id = u.id LEFT
		JOIN
		(SELECT ccps.id AS sign_id,ccps.class_plan_id AS plan_id FROM
		course_classes_plan_sign ccps WHERE ccps.user_id = #{0}) ccps2
		ON
		ccp.id = ccps2.plan_id
		WHERE ccpse.user_id = #{0} AND iu.current = 1
		AND
		DAYOFYEAR(ccp.date) =
		DAYOFYEAR(#{1}))
		ORDER BY plan_start DESC
	</select>
	<select id="getUserPanByDay" resultMap="userPlanListByDay">
		SELECT cc.id AS
		class_id,cc.name AS class_name,u.name AS user_name,u.phone AS
		phone,ccp.date AS
		plan_date,ccp.start_time AS plan_start,ccp.end_time
		AS
		plan_end,ccp.address AS address,ccps2.plan_sign_id AS
		plan_sign_id,ccpl2.lack_id AS lack_id,ccpl3.id AS cancel_id
		FROM user u
		JOIN course_classes cc ON u.id = cc.user_id JOIN
		course_classes_plan
		ccp ON cc.id = ccp.course_classes_id LEFT JOIN
		(SELECT
		ccps.class_plan_id AS plan_id,ccps.id AS plan_sign_id
		FROM
		course_classes_plan_sign ccps WHERE
		ccps.class_id = #{1} AND
		ccps.user_id
		= #{0}) ccps2 ON ccp.id =
		ccps2.plan_id LEFT JOIN
		(SELECT
		ccpl.id AS lack_id,ccpl.class_plan_id AS plan_id
		FROM
		course_classes_plan_lack
		ccpl WHERE ccpl.user_id = #{0} AND
		ccpl.class_id = #{1})
		ccpl2 ON ccp.id
		= ccpl2.plan_id
		LEFT JOIN
		course_classes_plan_lack ccpl3 ON cc.id = ccpl3.class_id AND
		cc.user_id = ccpl3.user_id AND ccp.id = ccpl3.class_plan_id
		WHERE
		ccp.course_classes_id = #{1} ORDER BY ccp.date
	</select>
	<insert id="addPlanSign" parameterType="com.dskj.course.entity.PlanSign"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		course_classes_plan_sign
		(institution_id,class_id,class_plan_id,user_id,address,create_time)
		VALUES
		(#{institutionId},#{classId},#{classPlanId},#{userId},#{address},#{createTime})
	</insert>
	<select id="getCurrentInstitutionId" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT institution_id FROM institution_user WHERE user_id =
		#{0} AND current = 1
	</select>
	<select id="getTeacherUserPanSignByDay" parameterType="int"
		resultMap="teacherUserPlanSignByDay">
		SELECT ccp.*,(SELECT COUNT(ccps.id) FROM
		course_classes_plan_sign ccps JOIN
		course_classes_sign ccs ON
		ccps.class_id = ccs.classes_id AND
		ccps.user_id = ccs.user_id WHERE
		ccps.class_plan_id = ccp.id) AS
		sign_count,((SELECT COUNT(ccs.id) FROM
		course_classes_sign ccs WHERE
		ccs.classes_id = cc.id) + (SELECT
		COUNT(ccpse.id) FROM
		course_classes_plan_supple
		ccpse JOIN
		user u ON
		u.id
		= ccpse.user_id WHERE
		ccpse.supple_class_plan_id = ccp.id AND
		u.type =
		3)) AS
		user_count,ccpl2.lack_id AS
		lack_id FROM
		course_classes cc JOIN
		course_classes_plan ccp ON
		cc.id = ccp.course_classes_id LEFT JOIN
		(SELECT ccpl.id AS
		lack_id,ccpl.class_plan_id AS
		plan_id,ccpl.user_id AS
		user_id FROM
		course_classes_plan_lack ccpl WHERE
		ccpl.class_id = #{0})
		ccpl2
		ON ccp.id = ccpl2.plan_id AND cc.user_id = ccpl2.user_id
		WHERE
		cc.id = #{0} ORDER BY ccp.date,ccp.start_time
	</select>
	<select id="getTeacherUserListByPlan" resultMap="teacherUserListByPlan">
		SELECT u.id AS
		user_id,u.name AS
		user_name,u.phone AS
		user_phone,u.photo AS
		user_photo,ccps1.sign_id AS
		sign_id,ccpl2.lack_id AS
		lack_id FROM
		user u
		JOIN
		course_classes_sign ccs ON
		u.id = ccs.user_id LEFT JOIN
		(SELECT
		ccps.id AS
		sign_id,ccps.user_id AS
		user_id FROM
		course_classes_plan_sign
		ccps WHERE
		ccps.class_plan_id = #{1}) ccps1 ON
		u.id = ccps1.user_id LEFT
		JOIN
		(SELECT ccpl.id AS
		lack_id,ccpl.user_id AS
		user_id FROM
		course_classes_plan_lack ccpl WHERE
		ccpl.class_plan_id = #{1}) ccpl2 ON
		u.id = ccpl2.user_id WHERE
		ccs.classes_id = #{0}
		UNION
		SELECT u.id AS
		user_id,u.name AS
		user_name,u.phone AS
		user_phone,u.photo AS
		user_photo,ccps1.sign_id AS
		sign_id,ccpl2.lack_id AS
		lack_id FROM
		user u
		JOIN
		course_classes_plan_supple ccpse ON
		u.id = ccpse.user_id LEFT JOIN
		(SELECT ccps.id AS
		sign_id,ccps.user_id AS
		user_id FROM
		course_classes_plan_sign ccps WHERE
		ccps.class_plan_id = #{1}) ccps1 ON
		u.id = ccps1.user_id
		LEFT JOIN
		(SELECT ccpl.id AS
		lack_id,ccpl.user_id AS
		user_id FROM
		course_classes_plan_lack ccpl
		WHERE
		ccpl.class_plan_id =
		#{1}) ccpl2 ON
		u.id = ccpl2.user_id WHERE
		ccpse.supple_class_plan_id =
		#{1} AND
		u.type = 3
	</select>
	<select id="getManageUserPanSignByDayBefore" resultMap="manageUserPlanSignByDay">
		SELECT
		c.id AS
		course_id,c.name AS course_name,c.cover AS cover,cc.id AS
		class_id,cc.name AS
		class_name,ccp.id AS plan_id,ccp.date AS
		plan_date,ccp.start_time AS
		plan_start,ccp.end_time AS
		plan_end,ccp.address AS plan_address,u.name
		AS user_name,(SELECT
		COUNT(ccps.id) FROM course_classes_plan_sign ccps
		WHERE
		ccps.class_plan_id = ccp.id) AS plan_sign_count,(SELECT
		COUNT(ccs.id)
		FROM course_classes_sign ccs WHERE ccs.classes_id =
		cc.id) AS
		user_count,ccpl.id AS lack_id FROM course_classes_plan ccp
		JOIN
		course_classes
		cc ON ccp.course_classes_id = cc.id JOIN course c
		ON
		cc.course_id =
		c.id JOIN user u ON cc.user_id = u.id LEFT JOIN
		course_classes_plan_lack
		ccpl ON ccp.id = ccpl.class_plan_id AND
		cc.user_id = ccpl.user_id
		WHERE cc.institution_id = #{0}
		AND
		DAYOFYEAR(ccp.date) = DAYOFYEAR(#{1}) AND ccp.start_time &lt;
		TIME('12:00:00') ORDER BY plan_date
	</select>
	<select id="getManageUserPanSignByDayAfter" resultMap="manageUserPlanSignByDay">
		SELECT
		c.id AS
		course_id,c.name AS course_name,c.cover AS cover,cc.id AS
		class_id,cc.name AS
		class_name,ccp.id AS plan_id,ccp.date AS
		plan_date,ccp.start_time AS
		plan_start,ccp.end_time AS
		plan_end,ccp.address AS plan_address,u.name
		AS user_name,(SELECT
		COUNT(ccps.id) FROM course_classes_plan_sign ccps
		WHERE
		ccps.class_plan_id = ccp.id) AS plan_sign_count,(SELECT
		COUNT(ccs.id)
		FROM course_classes_sign ccs WHERE ccs.classes_id =
		cc.id) AS
		user_count,ccpl.id AS lack_id FROM course_classes_plan ccp
		JOIN
		course_classes
		cc ON ccp.course_classes_id = cc.id JOIN course c
		ON
		cc.course_id =
		c.id JOIN user u ON cc.user_id = u.id LEFT JOIN
		course_classes_plan_lack
		ccpl ON ccp.id = ccpl.class_plan_id AND
		cc.user_id = ccpl.user_id
		WHERE cc.institution_id = #{0}
		AND
		DAYOFYEAR(ccp.date) = DAYOFYEAR(#{1}) AND ccp.start_time &gt;
		TIME('12:00:00') ORDER BY plan_date
	</select>
	<select id="getManageUserListByPlan" parameterType="java.lang.Integer"
		resultMap="manageUserListByPlan">
		SELECT u.id AS
		user_id,u.name AS user_name,u.phone AS
		user_phone,u.photo AS
		user_photo,ccps.id AS plan_sign_id,ccpl.id AS
		lack_id
		FROM course_classes_plan ccp JOIN course_classes_sign ccs ON
		ccp.course_classes_id = ccs.classes_id JOIN user u ON ccs.user_id =
		u.id
		LEFT JOIN course_classes_plan_sign ccps ON ccps.class_plan_id =
		ccp.id AND
		u.id = ccps.user_id
		LEFT JOIN course_classes_plan_lack ccpl
		ON ccpl.class_plan_id = ccp.id AND
		ccpl.user_id = u.id
		WHERE ccp.id =
		#{0}
	</select>
	<select id="getManageUserCourseClassSignPlan" resultMap="manageUserCourseClassSignPlan">
		SELECT
		c.id AS course_id,
		c.name AS course_name,c.cover AS cover,cc.id AS
		class_id,cc.name AS class_name,u.name AS user_name,
		(SELECT
		COUNT(ccps.id) FROM course_classes_plan_sign ccps JOIN
		course_classes_plan ccp2 ON ccp2.id = ccps.class_plan_id WHERE
		ccps.class_id = cc.id AND ccps.user_id = #{1} AND ccp2.date &gt;
		#{2}
		AND ccp2.date &lt; #{3}) AS
		plan_sign_count,
		(SELECT COUNT(ccp.id) FROM
		course_classes_plan ccp WHERE
		ccp.course_classes_id = cc.id AND
		ccp.date &gt; #{2} AND
		ccp.date &lt; #{3}) AS plan_count
		FROM course c
		JOIN course_classes cc ON c.id = cc.course_id JOIN
		course_classes_sign
		ccs ON ccs.classes_id = cc.id JOIN user u ON cc.user_id = u.id WHERE
		ccs.user_id =
		#{1} AND
		ccs.institution_id = #{0}
		HAVING plan_count &gt; 0
		UNION
		SELECT c.id AS course_id,c.name AS
		course_name,c.cover AS
		cover,cc.id AS class_id,cc.name AS class_name,u.name AS user_name,
		(SELECT COUNT(*)
		FROM course_classes_plan_sign ccps1 JOIN
		course_classes_plan_supple
		ccpse1 ON ccps1.class_plan_id =
		ccpse1.supple_class_plan_id WHERE
		ccpse1.user_id = #{1}) AS
		plan_sign_count,
		(SELECT COUNT(ccp1.id) AS
		plan_count FROM
		course_classes_plan ccp1 JOIN
		course_classes_plan_supple ccpse ON
		ccp1.id =
		ccpse.supple_class_plan_id WHERE ccpse.user_id = #{1} AND
		ccpse.supple_class_id = cc.id) AS plan_count
		FROM course c JOIN
		course_classes cc ON c.id = cc.course_id JOIN user u ON cc.user_id =
		u.id JOIN
		course_classes_plan ccp
		ON cc.id = ccp.course_classes_id JOIN
		course_classes_plan_supple ccpse
		ON ccp.id =
		ccpse.supple_class_plan_id
		WHERE ccpse.user_id = #{1} AND
		cc.institution_id = #{0} AND ccp.date
		&lt; #{3} AND
		ccp.date &gt; #{2}

	</select>
	<select id="getManageUserPlanSignList" resultMap="userPlanListByDay">
		SELECT cc.id AS
		class_id,cc.name AS class_name,u.name AS user_name,u.phone AS
		phone,ccp.date AS
		plan_date,ccp.start_time AS plan_start,ccp.end_time
		AS
		plan_end,ccp.address AS address,ccps2.plan_sign_id AS
		plan_sign_id,ccpl2.lack_id AS lack_id,ccpl3.id AS cancel_id
		FROM user u
		JOIN course_classes cc ON u.id = cc.user_id JOIN
		course_classes_plan
		ccp ON cc.id = ccp.course_classes_id LEFT JOIN
		(SELECT
		ccps.class_plan_id AS plan_id,ccps.id AS plan_sign_id
		FROM
		course_classes_plan_sign ccps WHERE
		ccps.class_id = #{1} AND
		ccps.user_id
		= #{0}) ccps2 ON ccp.id =
		ccps2.plan_id LEFT JOIN
		(SELECT
		ccpl.id AS lack_id,ccpl.class_plan_id AS plan_id
		FROM
		course_classes_plan_lack
		ccpl WHERE ccpl.user_id = #{0} AND
		ccpl.class_id = #{1})
		ccpl2 ON ccp.id
		= ccpl2.plan_id
		LEFT JOIN
		course_classes_plan_lack ccpl3 ON cc.id = ccpl3.class_id AND
		cc.user_id = ccpl3.user_id AND ccp.id = ccpl3.class_plan_id
		WHERE
		ccp.course_classes_id = #{1} AND ccp.date &lt;
		#{3} AND ccp.date &gt;
		#{2} ORDER BY plan_start
	</select>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
	<select id="getTeacherTodayPlanSignList" resultMap="teacherSign">
		SELECT i.id AS institution_id,i.name AS institution_name,i.logo AS logo,ccps.address AS address,ccps.create_time AS create_time  FROM
		course_classes_plan_sign ccps JOIN institution i ON ccps.institution_id = i.id
		WHERE 1 = 1
		<if test="institutionId != null">
			and ccps.institution_id = #{institutionId}
		</if>
		 and
		ccps.user_id = #{userId}
		AND
		DATE(ccps.create_time) = DATE(#{date})
		ORDER BY ccps.create_time DESC
	</select>
	<select id="getClassSignCount" resultType="int">
		SELECT COUNT(*) FROM
		course_classes_sign ccs WHERE ccs.user_id = #{0} AND ccs.classes_id =
		#{1}
	</select>
	<select id="getSuppleUserPanByDay" resultMap="userPlanListByDay">
		SELECT cc.id AS
		class_id,cc.name AS class_name,u.name AS user_name,u.phone AS
		phone,ccp.date AS
		plan_date,ccp.start_time AS plan_start,ccp.end_time
		AS
		plan_end,ccp.address AS address,ccps2.plan_sign_id AS
		plan_sign_id,ccpl2.lack_id AS lack_id,ccpl3.id AS cancel_id
		FROM user u
		JOIN course_classes cc ON u.id = cc.user_id JOIN
		course_classes_plan
		ccp ON cc.id = ccp.course_classes_id JOIN course_classes_plan_supple
		ccpse ON ccpse.supple_class_plan_id = ccp.id LEFT JOIN
		(SELECT
		ccps.class_plan_id AS plan_id,ccps.id AS plan_sign_id
		FROM
		course_classes_plan_sign ccps WHERE
		ccps.class_id = #{1} AND
		ccps.user_id
		= #{0}) ccps2 ON ccp.id =
		ccps2.plan_id LEFT JOIN
		(SELECT
		ccpl.id AS lack_id,ccpl.class_plan_id AS plan_id
		FROM
		course_classes_plan_lack
		ccpl WHERE ccpl.user_id = #{0} AND
		ccpl.class_id = #{1})
		ccpl2 ON ccp.id
		= ccpl2.plan_id
		LEFT JOIN
		course_classes_plan_lack ccpl3 ON cc.id = ccpl3.class_id AND
		cc.user_id = ccpl3.user_id AND ccp.id = ccpl3.class_plan_id
		WHERE
		ccpse.supple_class_id = #{1} ORDER BY ccp.date
	</select>
	<select id="getByUserIdAndClassIdAndDate" resultMap="planSign">
		SELECT *
		FROM course_classes_plan_sign ccps WHERE ccps.user_id = #{0} AND
		ccps.class_id = #{1} AND DATE(ccps.create_time) = DATE(#{2})
	</select>
	<select id="getCourseClassSignInfo2_0" resultMap="teacherClassPlan">
		SELECT cc.`id`
		AS class_id,cc.`address` AS address,cc.`name` AS class_name,
		cc.`start_time` AS start_time,cc.`end_time` AS end_time,i.`name` AS
		institution_name,cc.cover AS cover,
		(SELECT count(*) from course_classes_sign ccs WHERE ccs.classes_id = cc.id) AS student_count,
		(SELECT COUNT(*)
		FROM course_classes_plan_sign ccps WHERE ccps.class_id = cc.id AND
		DATE(ccps.create_time ) &lt;= DATE(#{1}) AND DATE(ccps.create_time )
		>= DATE(#{1}))
		AS sign_count
		FROM course_classes cc JOIN institution i
		ON
		cc.`institution_id` = i.`id`
		WHERE cc.`user_id` = #{0} AND
		cc.`start_date` &lt;= DATE(#{1}) AND cc.`end_date` >= DATE(#{1})
		ORDER
		BY cc.start_time
	</select>
	<select id="getCourseClassStudentSignList2_0" resultMap="classSignUser">
		SELECT
		u.id AS id,u.photo AS photo,u.name AS `name`,u.phone AS phone
		FROM
		course_classes_sign ccs JOIN `user` u ON ccs.user_id = u.id
		JOIN
		course_classes_plan_sign ccps ON u.id = ccps.user_id
		WHERE
		ccs.classes_id = #{0} and ccps.class_id = #{0} AND DATE(ccps.create_time) &lt;= DATE(#{1}) AND
		DATE(ccps.create_time) >= DATE(#{1})
	</select>
	<select id="getCourseClassStudentUnSignList2_0" resultMap="classSignUser">
		SELECT
		u.id AS id,u.photo AS photo,u.name AS `name`,u.phone AS phone
		FROM course_classes_sign ccs JOIN `user` u ON ccs.user_id = u.id WHERE
		ccs.classes_id = #{0} AND u.id NOT IN
		(
		SELECT
		u.id
		FROM course_classes_sign ccs JOIN `user` u ON ccs.user_id = u.id
		JOIN course_classes_plan_sign ccps ON u.id = ccps.user_id
		WHERE ccs.classes_id = #{0} AND DATE(ccps.create_time) &lt;= DATE(#{1}) AND
		DATE(ccps.create_time) >= DATE(#{1})
		)
	</select>
</mapper>