<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.activity.mapper.ChildActivityImgMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	<resultMap type="com.dskj.activity.entity.ChildActivityImg" id="childActivityImg">
		<id property="id" column="id"/>
		<result property="activityId" column="activity_id"/>
		<result property="url" column="url"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	<insert id="add" parameterType="java.util.ArrayList">
		INSERT INTO child_activity_img (activity_id,url,create_time) VALUES 
		<foreach collection="childActivityImgs" item="imgs" index="index"
			separator=",">(#{imgs.activityId},#{imgs.url},#{imgs.createTime})
		</foreach>
	</insert>
	<delete id="deleteById">
		DELETE FROM
		child_activity_img WHERE id = #{0}
	</delete>
	<select id="clear" resultType="int" flushCache="true">
		SELECT 1
	</select>
	<select id="getList" resultMap="childActivityImg">
		SELECT * FROM child_activity_img cai WHERE cai.activity_id = #{activityId} LIMIT #{page.pageNo},#{page.pageSize} 
	</select>
</mapper>