<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.user.mapper.UserCircleMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    </cache>
    <resultMap type="com.dskj.user.entity.UserCircle" id="userCircle">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="circleId" column="circle_id"/>
        <result property="circleName" column="circle_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="clear" resultType="int" flushCache="true">
        SELECT 1
    </select>
    <insert id="add" parameterType="com.dskj.user.entity.UserCircle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_circle (user_id,circle_id,create_time) VALUES (#{userId},#{circleId},#{createTime})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM user_circle WHERE id = #{0}
    </delete>
    <select id="getList" parameterType="java.lang.String" resultMap="userCircle">
        SELECT uc.*,cc.name FROM user_circle uc JOIN community_circle cc ON uc.circle_id = cc.id WHERE uc.user_id = #{0}
    </select>
</mapper>