<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dskj.user.mapper.UserMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    </cache>
    <resultMap type="com.dskj.user.entity.UserEntity" id="userEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="levelId" column="level_id"/>
        <result property="type" column="type"/>
        <result property="phone" column="phone"/>
        <result property="photo" column="photo"/>
        <result property="qqOpenId" column="qq_open_id"/>
        <result property="weixinOpenId" column="weixin_open_id"/>
        <result property="sinaOpenId" column="sina_open_id"/>
        <result property="address" column="address"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="regionId" column="region_id"/>
        <result property="createTime" column="create_time"/>
        <result property="realName" column="real_name"/>
        <result property="interest" column="interest"/>
        <result property="shortIntroduction" column="short_introduction"/>
    </resultMap>
    <resultMap type="com.dskj.user.entity.UserFace" id="userFace">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="levelId" column="level_id"/>
        <result property="type" column="type"/>
        <result property="phone" column="phone"/>
        <result property="photo" column="photo"/>
        <result property="qqOpenId" column="qq_open_id"/>
        <result property="weixinOpenId" column="weixin_open_id"/>
        <result property="sinaOpenId" column="sina_open_id"/>
        <result property="address" column="address"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="regionId" column="region_id"/>
        <result property="createTime" column="create_time"/>
        <result property="visitCount" column="visit_count"/>
        <result property="interest" column="interest"/>
        <result property="shortIntroduction" column="short_introduction"/>
    </resultMap>
    <insert id="addUser" parameterType="com.dskj.user.entity.UserEntity">
		INSERT INTO user
		(id,type,name,phone,password,photo,qq_open_id,sina_open_id,weixin_open_id,create_time,address,sex,birthday,region_id)
		VALUES
		(#{id},#{type},#{name},#{phone},#{password},#{photo},#{qqOpenId},#{sinaOpenId},#{weixinOpenId},#{createTime},#{address},#{sex},#{birthday},#{regionId})
	</insert>
    <select id="getUserCountByPhone" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        SELECT COUNT(id) FROM user u
        WHERE u.phone = #{0}
    </select>
    <select id="getRegistedPhones" parameterType="java.util.ArrayList"
            resultMap="userEntity">
        select * from user u
        where
        u.phone in
        <foreach collection="list" item="phones" index="index" open="("
                 separator="," close=")">#{phones}
        </foreach>
    </select>
    <select id="userLogin" resultMap="userEntity">
        select * from user u
        where
        u.phone = #{0} and u.password = #{1}
    </select>
    <update id="updatePassword">
        update user set
        password = #{1} where phone = #{0}
    </update>
    <select id="getById" parameterType="java.lang.String" resultMap="userEntity">
        select * from user u
        where
        u.id = #{0}
    </select>
    <update id="updatePhoto">
        update user set
        photo = #{1} where id = #{0}
    </update>
    <update id="updateInfo" parameterType="com.dskj.user.entity.UserEntity">
        update user u
        <set>
            <if test="name != null">u.name = #{name},</if>
            <if test="levelId != null">u.level_id = #{levelId},</if>
            <if test="type != null">u.type = #{type},</if>
            <if test="address != null">u.address = #{address},</if>
            <if test="sex != null">u.sex = #{sex},</if>
            <if test="birthday != null">u.birthday = #{birthday},</if>
            <if test="regionId != null">u.region_id = #{regionId}</if>
            <if test="realName != null">u.real_name = #{realName}</if>
            <if test="interest != null">u.interest = #{interest}</if>
            <if test="shortIntroduction != null">u.short_introduction = #{shortIntroduction}</if>
        </set>
        where u.id = #{id}
    </update>
    <select id="userQQLogin" parameterType="java.lang.String"
            resultMap="userEntity">
        select * from user u
        where
        u.qq_open_id = #{0}
    </select>
    <select id="userSinaLogin" parameterType="java.lang.String"
            resultMap="userEntity">
        select * from user u
        where
        u.sina_open_id = #{0}
    </select>
    <select id="userWeiXinLogin" parameterType="java.lang.String"
            resultMap="userEntity">
        select * from user u
        where
        u.weixin_open_id = #{0}
    </select>
    <update id="userBindQQ">
        update user u set qq_open_id = #{0}
        where u.id = #{1}
    </update>
    <update id="userBindSina">
        update user u set sina_open_id = #{0}
        where u.id =
        #{1}
    </update>
    <update id="userBindWeiXin">
        update user u set weixin_open_id = #{0}
        where u.id =
        #{1}
    </update>

    <select id="getUserListPage" parameterType="com.dskj.util.Page"
            resultMap="userEntity">
        select * from user limit #{pageNo},#{pageSize}
    </select>

    <select id="getManageTeacherList" parameterType="java.lang.String"
            resultMap="userEntity">
        SELECT * FROM user u JOIN institution_user iu ON u.id =
        iu.user_id WHERE iu.institution_id = #{0} AND u.type = 2
    </select>
    <select id="getManageTeacherSearch" resultMap="userEntity"
            flushCache="true">
        SELECT * FROM user
        u JOIN institution_user iu ON u.id =
        iu.user_id
        WHERE
        iu.institution_id
        = #{institutionId} AND u.type = 2
        AND
        (u.phone = #{key} OR u.name LIKE
        '%${key}%') LIMIT #{page.pageNo},#{page.pageSize}
    </select>
    <select id="getManageUserSearch" resultMap="userEntity">
        SELECT * FROM user
        u
        JOIN institution_user iu ON u.id = iu.user_id
        WHERE
        iu.institution_id
        =
        #{institutionId}
        AND (u.phone = #{key} OR u.name LIKE
        '%${key}%') LIMIT #{page.pageNo},#{page.pageSize}
    </select>
    <select id="getManageStudentSearch" resultMap="userEntity">
        SELECT * FROM user
        u JOIN institution_user iu ON u.id = iu.user_id
        WHERE
        iu.institution_id
        = #{institutionId} AND u.type = 3
        AND (u.phone = #{key} OR u.name LIKE
        '%${key}%') LIMIT #{page.pageNo},#{page.pageSize}
    </select>
    <select id="getMyClassCountByInstitution" resultType="int"
            useCache="false">
        SELECT
        COUNT(cc.id) FROM course_classes_sign ccs JOIN
        course_classes cc ON
        ccs.classes_id = cc.id
        WHERE ccs.user_id = #{0} AND
        cc.institution_id = #{1}
    </select>
    <select id="getMyChildInstitutionAdmin" resultType="java.lang.String"
            resultMap="userEntity">
        SELECT u.* FROM user u JOIN institution_user iu ON u.id =
        iu.user_id WHERE iu.institution_id = #{0} AND u.type = 1
    </select>
    <select id="getSystemUser" resultMap="userEntity">
        SELECT * FROM user u WHERE
        (SELECT COUNT(*) FROM institution_user iu WHERE iu.user_id = u.id) = 0
        AND (u.phone = #{key} OR u.name LIKE '%${key}%') LIMIT
        #{page.pageNo},#{page.pageSize}
    </select>
    <select id="getAllUserCount" resultType="int">
        SELECT COUNT(u.id) FROM
        user u
    </select>
    <select id="clear" resultType="int" flushCache="true">
        SELECT 1
    </select>
    <select id="getFriendList" parameterType="java.util.ArrayList"
            resultMap="userEntity">
        SELECT * FROM user u
        WHERE
        u.id in
        <foreach collection="list" item="ids" index="index" open="("
                 separator="," close=")">#{ids}
        </foreach>
    </select>
    <select id="getSupperAdminList" resultMap="userEntity">
        SELECT * FROM user u WHERE u.type = 0 AND u.id &lt;&gt; #{userId} LIMIT
        #{page.pageNo},#{page.pageSize}
    </select>
    <select id="getSystemUserAll" resultMap="userEntity">
        SELECT * FROM user u WHERE
        u.phone = #{key} OR u.name LIKE '%${key}%' LIMIT
        #{page.pageNo},#{page.pageSize}
    </select>
    <select id="getFaceById" parameterType="java.lang.String" resultMap="userFace">
        select * from user u
        where
        u.id = #{0}
    </select>
    <update id="updateUserVisitCount" parameterType="java.lang.String">
        UPDATE `user` SET visit_count = visit_count + 1 WHERE id = #{0}
    </update>
    <select id="getInstitutionStudentAll2_0" resultMap="userEntity">
    	SELECT * FROM `user` u WHERE u.type = 3 AND u.id IN 
    	<foreach collection="userIds" item="userId"
                 open="(" separator="," close=")">
              #{userId}
        </foreach>
    </select>
    <select id="getUnfirendSearch2_0"
            resultMap="userEntity">
        SELECT * FROM user u
        WHERE 1 = 1
        <if test="key != null">
        AND (u.phone = #{key} or u.name like '%${key}%')
        </if>
        <if test="ids!=null">
	        AND u.id not in
	        <foreach collection="ids" item="id" index="index" open="("
	                 separator="," close=")">#{id}
	        </foreach>
        </if>
    </select>
    <select id="getFirendSearch2_0"
            resultMap="userEntity">
        SELECT * FROM user u
        WHERE (u.phone = #{key} or u.name like '%${key}%')
        <if test="ids!=null">
	        u.id in
	        <foreach collection="ids" item="id" index="index" open="("
	                 separator="," close=")">#{id}
	        </foreach>
        </if>
    </select>
</mapper>